body {
    background-color: #1e1e1e;
    margin: 0px;
    color: white;
    font-family: Roboto;
}

header, footer{
    height: 60px;
    background-color: #2f2f2f;
}

header, main {
    padding-left: 280px;
    padding-right: 280px;
}

.navbarLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

.navbarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

.navItem, .navItemCurrent {
    margin-right: 100px;
    text-decoration: none;
    color: white;
}

.navItem {
    padding-bottom: 15px;
    border-bottom: 5px solid #3ddc84;
}

.navItemCurrent {
    padding-bottom: 10px;
    border-bottom: 10px solid #3ddc84;
}

main {
    padding-top: 70px;
}

.doubleGrid {
    display: grid; 
    grid-template-columns: 70% auto;
    grid-template-rows: auto;
    justify-content: start;
    align-items: center;
    column-gap: 50px;
}

.link {
    padding-left: 10px;
    padding-bottom: 20px;
    display: grid; 
    grid-template-columns: 6% auto;
    align-items: center;
}

.imgFace {
    width: 400px;
    height: 400px;
    border: 5px solid #3ddc84;
    border-radius: 50%;
}

.separator {
    height: 2px; 
    color: #3ddc84; 
    background-color: #3ddc84;
}

.spacer {
    height: 40px;
}

.taskTitle {
    font-size: 65px; 
    margin-bottom: 40px;
    margin-top: 40px;
}

.subtitle {
    font-size: 65px; 
    border-bottom: 5px solid #3ddc84;
    margin-bottom: 40px;
    margin-top: 40px;
}

.selectLanguage {
    position: relative;
    display: inline-block;
    padding-right: 100px;
}

.dropBtn {
    color: white;
    background: none;
    font-size: 30px;
    border: 3px solid #3ddc84;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropContent {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.dropContent span {
    color: black;
    padding: 12px 16px;
    display: block;
    
}

.show {display:block;}


.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
