
.taskOneGrid {
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    justify-content: center;
}

.darkElement {
    background-color: #2b2a33;
    border-color: #8f8f9d;
    color: #f8f8f2;
    border-radius: 5px;
    line-height: 25px;
}

textarea {
    resize: none;
}

